{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}

<div class="bookingPage">
    <img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">

    <div class="bookingContainer">

        <div class="bookingContainerTop">

            <a href="{{ path('app_resort_form') }}" class="cardBookingTop">
                <i class="fas fa-map-marker-alt"></i>
                <h2 class="titleBook">Resorts</h2>
            </a>            

            <div class="separateBookingTop"></div>

            <a href="{{ path('app_accommodation_form') }}" class="cardBookingTop">
                <i class="fa-solid fa-house"></i>
                <h2 class="titleBook">Accommodation</h2>
            </a>

            <div class="separateBookingTop"></div>

            <a href="#" class="cardBookingTop">
                <i class="fa-solid fa-calendar-days"></i>
                <h2 class="titleBook">Length of stay</h2>
            </a>

            <div class="separateBookingTop"></div>

            <a href="#" class="cardBookingTop">
                <i class="fa-solid fa-list"></i>
                <h2 class="titleBook">Extra programs</h2>
            </a>

        </div>


        <div class="bookingContainerMiddle">
            <div class="separateMiddle"></div>
        </div>


        <div class="bookingContainerBottom">

            <a href="#" class="cardBookingBottom">
                <i class="fa-solid fa-suitcase-rolling"></i>
                <h2 class="titleBook">Number of travelers</h2>
            </a>

            <div class="separateBookingBottom"></div>

            <a href="#" class="cardBookingBottom">
                <i class="fa-solid fa-circle-info"></i>
                <h2 class="titleBook">Customer support</h2>
            </a>

            <div class="separateBookingBottom"></div>

            <a href="{{ path('app_dashboard') }}" class="cardBookingBottom">
                <i class="fa-solid fa-user"></i>
                <h2 class="titleBook">User dashboard</h2>
            </a>

            <div class="separateBookingBottom"></div>

            <a href="#" class="cardBookingBottom">
                <i class="fa-regular fa-circle-check"></i>
                <h2 class="titleBook">Book</h2>
            </a>

        </div>

    </div>
</div>





<script>
    function openModal() {
        document.getElementById('resortModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('resortModal').style.display = 'none';
    }

    window.onclick = function (event) {
        var modal = document.getElementById('resortModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    };
</script>

{% endblock %}