body {
    margin: 0;
    padding: 0;
    background-color: #00071F;
    color: white;
}

#slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sliderList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.resortContainer {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

li {
    width: 100%;
    display: none;
    /* Masquer tous les éléments initialement */
}

li:first-child {
    display: block;
    /* Afficher le premier élément */
}

.resortElementsContainer {
    width: 80%;
    margin-top: 150px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.changeResortBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    background: none;
    border: none;
    color: white;
    text-shadow: 0px 0px 4px #000;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    text-shadow: 0px 0px 4px #fff;
}

#prevBtn {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nextBtn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.titleResort {
    display: flex;
    align-items: center;
    width: 100%;
}

.picto {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    margin-right: 10px;
    background: linear-gradient(to top right, #F33A00, #F3002C);
    border-radius: 2px;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px #F33A00;
}

.bookBtn {
    margin-left: auto;
}

.separateResort {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtitleResort {
    width: 66%;
    font-size: 20px;
    text-shadow: 0px 0px 4px #000;
}

.infoContainer {
    display: flex;
}

.startingPriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.conversion span {
    font-size: 20px;
    font-weight: 700;
}

.conversion {
    text-shadow: 0px 0px 4px #000;
    font-size: 16px;
    margin-bottom: 50px;
}

.price {
    background: radial-gradient(circle at right bottom, #ffffff00, #ffffff15);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    box-shadow: 0px 0px 10px #00000055;
    border: 1px solid #ffffff22;
    width: 80%;
    padding: 10px 30px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 4px #F33A00;
}

.detailsContainer {
    background: radial-gradient(circle at right bottom, #ffffff00, #ffffff15);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    box-shadow: 0px 0px 10px #00000055;
    border: 1px solid #ffffff22;
    padding: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.place span, .area span, .description span {
    font-size: 20px;
    font-weight: 700;
}

.place, .area, .description {
    text-shadow: 0px 0px 4px #000;
    font-size: 16px;
}