{# templates/components/button.html.twig #}

<!-- {% macro renderButton(link, text) %}
    <a href="{{ path(link) }}" class="your-button-style">{{ text }}</a>
{% endmacro %} -->



{% block button %}
    <a class="btnLink" href="#">BUTTON</a>

<style>
    .btnLink {
        padding: 4px 18px;
        background: linear-gradient(to top right, #F33A00, #F3002C);
        box-shadow: 0px 0px 10px #00000055;
        border: 1px solid #ffffff22;
        color: white;
        text-decoration: none;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .btnLink:hover {
        border: 1px solid #ffffff;
        box-shadow: 0px 0px 10px #ffffff55;
    }

</style>
{% endblock %}