{# templates/components/button.html.twig #}

{% block button %}
     <a class="btnLink" href="{{ linkUrl }}" title="{{ title }}">{{ textBtn }}</a>


<style>
    .btnLink {
        padding: 6px 22px;
        background: linear-gradient(to top right, #F33A00, #F3002C);
        box-shadow: 0px 0px 10px #00000055;
        border: 2px solid #ffffff22;
        color: white;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .btnLink:hover {
        border: 2px solid #ffffff;
        box-shadow: 0px 5px 20px 2px #ffcfd8;
    }

    @media only screen and (max-width: 750px) {
        .btnLink {
            font-size: 11px;
            padding: 3px 11px;
        }
    }
</style>
{% endblock %}