{# templates/components/hero.html.twig #}

{% import 'components/button.html.twig' as button %}

{% block hero %}
<div class="homeHeroContainer">
<div class="homeHero">

    <div class="homeTitle">
        <h1 id="slogan2">
            <span>YOUR</span>
            <span>PERSONALIZED</span>
            <span>SPACE JOURNEY</span>
        </h1>
        <h1 id="slogan1">
            <span>YOUR</span>
            <span>PERSONALIZED</span>
            <span>SPACE JOURNEY</span>
        </h1>
    </div>

    <div class="homeSubtitle">
        <h2 class="subtitle">
            Climb aboard one of our <span>spaceships</span>
        </h2>
        <h2 class="subtitle">
            and set off to have <span>the best experience of your life</span>
        </h2>
    </div>

    <div class="separateHero"></div>

    <div class="homeMinititle">
        <p class="miniSubtitle">
            Explore Mars like never before thanks to our 8 unique stations, each offering iconic activities and sites
            related to its sector. Immerse yourself in the interplanetary adventure and discover the Martian landscape
            in a whole
            new way.
        </p>
    </div>


    {% block button %}
    <div class="buttonHero">
        {% include 'components/button.html.twig' with {'textBtn': 'Resorts', 'linkUrl': '/resorts'} %}
        {% include 'components/button.html.twig' with {'textBtn': 'Book now', 'linkUrl': '/booking'} %}
    </div>
    {% endblock %}
</div>

<div>
    <img class="milkyWay" src="{{ asset('img/MilkyWay.jpg') }}" alt="Milky Way">

    <div class="planetContainer" data-planet-image="{{ asset('img/Mars-8K.jpg') }}">
        <canvas id="planetCanvas"></canvas>
        <div class="planet"></div>
        <div class="planetShadow"></div>
        <div class="planetAtmosphere"></div>
    </div>
</div>
</div>

<style>
    /* styles.css */
    body {
        margin: 0;
        padding: 0;
        background-color: #00071F;
    }

    .homeHeroContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vm;
    }

    .homeHero {
        z-index: 9;
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    .homeTitle {
        text-align: center;
        position: relative;
    }

    #slogan1,
    #slogan2 {
        text-transform: uppercase;
        color: white;
        font-size: 50px;
        font-family: 'Audiowide', cursive;
        letter-spacing: 5px;
        font-weight: 100;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }

    #slogan2 {
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        color: #ff00ff;
        text-shadow: 6px 6px 0px #00aaff;
    }

    #slogan1 span,
    #slogan2 span {
        display: block;
    }

    .homeSubtitle {
        text-align: center;
        position: relative;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 10px;
        text-shadow: 0px 0px 4px #000;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 400;
        color: white;
    }

    .subtitle span {
        color: #FE5B00;
    }

    .separateHero {
        width: 60%;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .homeMinititle {
        text-align: center;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
        text-shadow: 0px 0px 4px #000;
        max-width: 50%;
    }

    .miniSubtitle {
        font-size: 16px;
        font-weight: 300;
        color: white;
    }

    .buttonHero {
        display: flex;
        margin: auto;
        gap: 33px;
    }

    @media (max-width: 769px) {

        #slogan1,
        #slogan2 {
            font-size: 22px;
        }

        #slogan2 {
            top: calc(50% - 2px);
            left: calc(50% - 2px);
            text-shadow: 4px 4px 0px #00aaff;
        }

        .homeTitle {
            top: 0px;
            height: 100px;
        }

        .homeSubtitle {
            margin-top: 10px;
        }

        .subtitle {
            font-size: 14px;
        }

        .homeMinititle {
            max-width: 75%;
        }

        .miniSubtitle {
            font-size: 12px;
        }
    }

    @media (max-width: 500px) {

        #slogan1,
        #slogan2 {
            font-size: 15px;
        }

        #slogan2 {
            top: calc(50% - 1px);
            left: calc(50% - 1px);
            text-shadow: 2px 2px 0px #00aaff;
        }

        .homeTitle {
            top: 0px;
            height: 50px;
        }

        .homeSubtitle {
            margin-top: 5px;

        }

        .subtitle {
            font-size: 12px;
        }
    }



    .milkyWay {
        position: absolute;
        mix-blend-mode: color-dodge;
        top: 0;
        left: 0;
        width: 120%;
        height: auto;
        z-index: -1;
    }


    .planetContainer {
        max-width: 800px;
        max-height: 800px;
        width: 50vw;
        height: 50vw;
        /* border: 1px solid red; */
        margin-right: auto;
        margin-left: auto;
        /* margin-top: 300px; */
        position: relative;
    }


    .planetAtmosphere {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: radial-gradient(circle at center, #ef584400 45%, #ef5844bb 55%, #ef5844 60%, #ef584455 62%, #ef584400 65%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        -webkit-mask-image: linear-gradient(to bottom right, #000000 25%, #0000000e 50%);
        mask-image: linear-gradient(to bottom right, #000000 25%, #0000000e 50%);
    }

    .planet {
        width: 85%;
        height: 85%;
        border-radius: 50%;
        /* background-color: rgb(255, 42, 0); */
        position: absolute;
        top: 7.5%;
        left: 7.5%;
    }

    .planetShadow {
        width: calc(85% + 2px);
        height: calc(85% + 2px);
        top: 7.5%;
        left: 7.5%;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        background: radial-gradient(ellipse 40% 40% at 32% 32%, #fff2b988 15%, #ffffe011 40%, transparent 50%),
            radial-gradient(ellipse 60% 60% at 35% 35%, #00071F00 60%, #00071Faa 70%, #00071F 90%);
    }


    canvas {
        position: absolute;
        /* display: block; */
        width: 85%;
        height: 85%;
        top: 7.5%;
        left: 7.5%;
        border-radius: 50%;
    }


    /* Ecran Desktop */
    @media (min-width: 768px) {
        .planetContainer {
            margin-top: 200px;
        }
    }

    /* Ecran tablette */
    @media (max-width: 767px) {
        .planetContainer {
            margin-top: 100px;
        }
    }

    /* Ecran mobile */
    @media (max-width: 530px) {
        .milkyWay {
            width: 150%;
        }
    }

    /* Ecran mobile */
    @media (max-width: 450px) {
        .milkyWay {
            width: 200%;
        }
    }
</style>


<script>
    const canvas = document.getElementById('planetCanvas');
    const ctx = canvas.getContext('2d');
    const planetContainer = document.querySelector('.planetContainer');
    const planetImage = new Image();
    planetImage.src = planetContainer.getAttribute('data-planet-image');
    const canvasWidth = canvas.width = 1000; // Largeur de la div ronde
    const canvasHeight = canvas.height = 1000; // Hauteur de la div ronde

    let x = 0;

    function drawPlanet() {
        ctx.clearRect(0, 0, canvasWidth, canvasHeight);
        ctx.drawImage(planetImage, x, 0, canvasWidth, canvasHeight);
        ctx.drawImage(planetImage, x + canvasWidth, 0, canvasWidth, canvasHeight);

        x -= 0.5; // Vitesse de défilement

        if (x <= -canvasWidth) {
            x = 0;
        }
        requestAnimationFrame(drawPlanet);
    }
    planetImage.onload = drawPlanet;
</script>

{% endblock %}